.react-contextmenu-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Chrome Only */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
    .editor {
        height: stretch;
    }
}

@-moz-document url-prefix() { 
    /* Firefox specific */
}