.editor {
    border: 1px solid lightgray;
    overflow: hidden;
    flex: 1;
    flex-direction: column;
    background-color: rgba(252, 252, 252, 1);
    width: 100%;
    height: 100%;
}

/* Chrome Only */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
    .editor {
        height: stretch;
    }
}

.editor-background {
    background-color: #fbfbfb;
    fill: url("#grid"); 
}

@-moz-document url-prefix() { 
    /* Firefox specific */
}