$nodeTitleFontSize: 16px;
$nodeBorderRadius: 5px;
$nodeBackground: #1E5188;
$nodeSecondary: #42A0D4;
$nodeTextColor: rgb(245, 245, 245);
$nodeSocketColor: #71D6C0;
$nodeHeaderBorder: 1px solid black;

.editor {
    .node {

        &.focused {
            box-shadow: 0 0 0 2px lightgreen, 3px 3px 10px rgba(.7, .7, .7, .3);
        }

        border-radius: $nodeBorderRadius;
        overflow: hidden;
        background: $nodeBackground;
        box-shadow: 3px 3px 10px rgba(.7, .7, .7, .3);

        .header {
            color: $nodeTextColor;
            padding-left: 10px;
            justify-content: left;
            border-bottom: $nodeHeaderBorder;

            .title {
                text-transform: capitalize;
                font-size: $nodeTitleFontSize;
            }
        }

        .content {
            padding: 0;
            .node-outputs {
                background: $nodeSecondary;
            }

            .field {
                color: $nodeTextColor;

                &.drag-hover {
                    outline: 3px solid red;
                }

                .socket {
                    color: $nodeSocketColor;
                }
            }
        }
    }
}

.react-contextmenu-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* Chrome Only */
@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
    .editor {
        height: stretch;
    }
}

@-moz-document url-prefix() { 
    /* Firefox specific */
}