.socket {
    padding: 0;
    width: 15px;
    height: 15px;
    border: none;
    border-radius: 100%;
    background-color: white;
    &.selected {
        &:after {
            content: "";
            width: 9px;
            height: 9px;
            display: block;
            margin: 3px;
            border-radius: 100%;
            background-color: black;
        }
    }
}