.profile {
    .ant-list {
        width: 100%;
    }

    .ant-spin-container {
        > .ant-row {
            margin: 0 !important;
        }
    }

    .account-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .danger-zone {
        button {
            width: 200px;
        }

        label {
            font-size: 1.1em;
            font-weight: bold;
        }
    }

    .account-avatar {
        .username {
            font-size: 1.3em;
            font-weight: 400;
        }
    }

    .ant-typography {
        margin-bottom: 0;
    }
}

// .profile {
//     display: flex;
//     flex: 1 1 100%;
//     width: 100%;
//     padding: 20px;

//     > * {
//         display: flex;
//         flex-direction: column;
//         box-shadow: 0 0 5px 0.05em rgba(0, 0, 0, 0.2);
//         overflow: hidden;
//         max-height: 100%;
//         min-height: 0;
//         height: 100%;
//     }

//     .profile-section {
//         .ant-card-body {
//             padding: 0;
//             margin: 20px;
//             display: flex;
//             min-height: 0;
//             max-height: 100%;
//             height: 100%;
//         }

//         .danger-zone {
//             .flex-container {
//                 width: 100%;
//                 justify-content: center;
//                 button {
//                     width: 50%;
//                 }
//             }

//             label {
//                 font-size: 1.1em;
//                 font-weight: bold;
//             }
//         }
//     }

//     .ant-card-head-title {
//         text-align: center;
//     }

//     .account-avatar {
//         justify-content: center;
//         align-items: center;

//         .username {
//             font-size: 1.3em;
//             font-weight: 400;
//         }
//     }
// }
