.profile {
    .ant-list {
        width: 100%;
    }

    .ant-card-head-title {
        font-size: 1.4em;
    }

    .profile-view-item {
        box-shadow: 0 0 3px 3px #00000022;
    }

    .ant-divider {
        .ant-divider-inner-text {
            font-size: 1.2em;
        }

        &:before,
        &:after {
            border-top: 1px solid #00000055;
        }
    }

    .ant-spin-container {
        > .ant-row {
            margin: 0 !important;
        }
    }

    .account-avatar {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .danger-zone {
        button {
            width: 200px;
        }

        label {
            font-size: 1.1em;
            font-weight: bold;
        }
    }

    .account-avatar {
        .username {
            font-size: 1.3em;
            font-weight: 400;
        }
    }

    .ant-typography {
        margin-bottom: 0;
    }

    .new-password-section {
        .ant-row {
            width: 100%;
        }
    }

    .social {
        &.disabled {
            opacity: 0.25;
            pointer-events: none !important;
        }
    }
}
