.logs-container {
    overflow: auto;
    .log-line {
        display: inline-flex;
        flex: 0 1 100%;

        &.log {
            color: blue;
        }

        &.debug {
            color: green;
        }

        &.warn {
            color: darken(yellow, 15%);
        }

        &.error {
            color: red;
        }

        .json-message {
            flex: 1 1 auto;
        }
    }
}
