@import '../../styles/vars.less';

.tab-list {
    display: flex;
    flex: 1 1 auto;

    button {
        align-self: center;
        color: @primary-color1;
        border-color: @primary-color1;
    }
}

.tab-controls {
    display: flex;
}
