.log-container {
    overflow-y: scroll;
    height: calc(~'25vh - 25px');

    .log-line {
        .log-warn {
            color: #ffae42;
        }

        .log-error {
            color: #ff0000;
        }
    }
}
