$connectionPadding: 5px;

.node-shell {
    overflow: visible;
}

.node {
    .content {
        .ports {
            .port {
                width: 100%;
                flex: 1;
                display: inline-flex;
            }

            .inputs {
                padding-left: 5px;

                .connection {
                    padding-right: $connectionPadding;
                }
            }

            .outputs  {
                text-align: right;
                padding-right: 5px;

                .connection {
                    padding-left: $connectionPadding;
                }
            }
        }
    }
}
