$connectionPadding: 5px;

.node-shell {
    overflow: visible;
}

.connection {
    cursor: pointer;
}

.node {
    .content {
        .ports {
            .port {
                margin: 3px 0;
                width: 100%;
                flex: 1;
                display: inline-flex;
            }

            .inputs {
                padding-left: 5px;

                .connection {
                    padding-right: $connectionPadding;
                }
            }

            .outputs  {
                display: flex;
                flex: 1;
                flex-direction: column;
                align-items: flex-end;
                padding-right: 5px;

                .connection {
                    padding-left: $connectionPadding;
                }
            }
        }
    }
}
