@import '../sandbox-variables.less';

.link {
    overflow: visible !important;

    path {
        fill: none;
        stroke: @connectionColor;
        stroke-width: 0.15em;
        stroke-linecap: round;
        stroke-linejoin: round;
    }
}
