.header {
    padding: 0;

    ul {
        .header-user-icon {
            float: right;
        }
    }


    .user-settings {
        i.anticon-user {
            font-size: 24px !important;
            margin-right: 0;
        }
    }

}