.node {

    cursor: pointer;
    user-select: none;
    min-width: 140px;

    .header {

        color: rgb(245, 245, 245);
        padding: 3px 10px;
        justify-content: left;

        .title {
            font-weight: bold;
            text-transform: capitalize;
            font-size: 17px;
        }
    }

    .content {
        color: white;

        ul {
            padding: 0;
            margin: 0;
            list-style: none;
        }

        li > * {
            display: inline-block;
        }

        .outputs {
            text-align: right;
        }

    }

}
