.login-form-container {
    display: flex;
    flex: 1 1 auto;

    align-items: center;
    justify-content: center;

    transition: width 175ms ease;

    .social-logins {
        border-left: 1px solid #33333333;
        padding-left: 20px;
        justify-content: center;
    }

    .login-form-forgot {
        float: right;
    }

    .login-form {
        margin-right: 20px;
        min-width: 480px;

        .other {
            justify-content: space-between;
        }
    }

    @media screen and (max-width: 1024px) {
        .login-card-container {
            width: 100%;
        }

        .login-form {
            margin-right: 0;
            min-width: unset;
            margin-bottom: 20px;
        }

        .ant-card-body > .flex-container {
            flex-direction: column !important;
        }

        .social-logins {
            padding-left: 0;
            padding-top: 20px;
            border-left: none;
            border-top: 1px solid #33333333;
        }
    }
}
