.login-form-container {

    transition: width 175ms ease;

    margin: auto;
    width: 600px;

    @media screen and (max-width: 768px) {
        width: 100%;
    }

    .login-form-forgot {
        float: right;
    }

    .login-form-button {
        width: 100%;
    }

    .lock-icon {
        transition: opacity 200ms ease-in;
        opacity: .25;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }

}