.dashboard {
    margin: 10px;

    .btn-add {
        margin: 10px;
    }

    .content {
        padding: 0 15px;
    }

    .ant-card {
        margin-bottom: 15px;
    }

    .additional-actions {
        > * {
            margin: 0 5px;
        }
    }
}
