@import '../../../styles/vars.less';

@background: #333d49;
@lighter-background: lighten(@background, 7%);
@control-bg-color: lighten(#3d4c5c, 5%);

.sandbox {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;

    .port {
        background-color: @background !important;
    }

    transition: opacity 250ms ease-in;

    &.disabled {
        opacity: 0.8;
        pointer-events: none;
    }
}

.view-background {
    position: absolute;
    display: table;
    user-select: none;
    background: radial-gradient(
                circle,
                transparent 20%,
                @background 20%,
                @background 80%
            )
            75px 75px,
        linear-gradient(@lighter-background 1px, transparent 1px) 0 -1px,
        linear-gradient(90deg, @lighter-background 1px, transparent 1px) -1px 0;
    background-color: @background;
    background-size: 150px 150px;
    user-select: none;
}

.select-container {
    border: 1px solid black;
}

@searchFontColor: lighten(black, 15%);

.search {
    bottom: 0px;
    position: absolute;
    margin: 15px 20px;

    .ant-input-affix-wrapper {
        > * {
            color: @searchFontColor !important;
        }
    }

    input {
        border-radius: 30px;
        background-color: @control-bg-color;
        border: none;

        &::placeholder {
            font-style: italic;
            color: @searchFontColor;
        }
    }
}

.zoom-controls {
    bottom: 0px;
    right: 0px;
    position: absolute;
    margin: 15px 20px;

    button {
        margin-left: 10px;
        border-color: @control-bg-color;
        background-color: @control-bg-color;
    }
}
