.sandbox {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.view-background {
    position: absolute;
    display: table;
    user-select: none;
    background-color: #3e69c3;
    background-image: url(http://scarbroughstudios.com/img/codepen.svg);
    background-position: center center;
    background-size: 500px;
    user-select: none;
}

.select-container {
    border: 1px solid black;
}
