.node {
    background-color: green;
    border-radius: 10px;
    box-sizing: border-box;
    .title {
        cursor: move;
        justify-content: center;
        align-items: center;
    }

    .body {
        .IO {
            flex: inherit;
            display: inherit;
            flex-direction: row;

            .inputs {
                padding: 10px;
                width: 100%;
                flex-direction: column;
            }

            .outputs {
                width: 100%;
                display: inherit;
                padding: 10px;
                flex-direction: column;
            }
        }
    }

    &.focused {
        box-shadow: 0 0 0 1pt red;
    }
}