.node {

    background-color: green;
    border-radius: 10px;
    box-sizing: border-box;

    .header {
        flex: 1;
        display: flex;
        cursor: move;
        max-height: 40px;
        align-items: center;
        justify-content: center;

        .title {

        }

    }
    .content {
        flex: 1;
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: row;

    }
}