.vertical-collapse-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    transition: width 250ms ease-in;

    &.tab-reverse {
        flex-direction: row-reverse;

        .content {
            margin-left: 10px;
        }
    }

    .content {
        margin: 0 10px;
    }

    .content {
        overflow: hidden;
        width: 100%;
        transition: width 250ms ease-in;

        &.collapsed {
            width: 0;
            margin: 0;
        }
    }

    .tab {
        padding: 10px 0;
        text-align: center;
        user-select: none;
        cursor: pointer;
        background-color: coral;

        .tab-text {
            writing-mode: vertical-lr;
            text-orientation: upright;
        }
    }
}
