@import '../sandbox-variables.less';
@import '../../../styles/vars.less';

@port-add-offset-x: 22px;
@port-add-offset-y: 4px;

.port-container {
    &.indefinite {
        &.left {
            .port-action {
                left: -@port-add-offset-x;
                top: -@port-add-offset-y;
            }
        }
    }
}

.port {
    cursor: pointer;
    margin-bottom: 3px;
    background-color: white;
    width: 13px;
    height: 13px;
    border: @borderSize solid @borderColor;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover::after {
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 50%;
    }

    &.connected::after,
    &.connecting::after {
        content: '';
        width: 7px;
        height: 7px;
        border-radius: 50%;
    }
}

.port-action {
    font-size: 1.3em;
    cursor: pointer;
    height: 0;
    width: 0;
    overflow: visible;
    position: relative;
    transition: opacity 100ms ease-in-out;
    will-change: opacity;
    opacity: 1;

    &.remove-port {
        color: red;
    }

    &.hidden {
        opacity: 0 !important;
        pointer-events: none;
    }
}
