@import '../../node_modules/antd/lib/style/themes/default.less';

@dark-primary-color: #583dcb;
@dark-layout-body-bg: #181a26;
@dark-sider-bg: #12151c;

@primary-color: @dark-primary-color;
@layout-body-background: @dark-layout-body-bg;
@layout-sider-background: @dark-sider-bg;
@layout-trigger-background: @dark-layout-body-bg;
