@import '../../styles/vars.less';
@import './sandbox-variables.less';

.sandbox-view-container {
    height: 100%;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    max-height: 100%;

    .sandbox-header {
        padding: 8px;
        background-color: @background;

        .header-action {
            color: white;
            cursor: pointer;
            user-select: none;
            i {
                margin-right: 10px;
            }
        }
    }
}

.sandbox-settings-menu {
    span {
        transition: color 200ms ease-in;
        color: rgba(255, 255, 255, 0.65);
    }

    span:hover {
        color: rgba(255, 255, 255, 1);
    }
}

.graph-content {
    background-color: @background;
    will-change: width;
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    min-height: 0;

    .node-info-collapsible,
    .node-select-collapsible {
        .ant-empty {
            height: 100%;
            justify-content: center;
            display: flex;
            flex-direction: column;
            margin: 0;
        }
    }

    .node-container {
        &.macro {
            border-color: #f49d37;
            background-color: #f49d37;

            .port {
                border-color: #f49d37;
            }

            .title {
                color: black;
            }
        }
    }

    .links {
        pointer-events: none;
        path {
            stroke: @primary-color1;
        }
    }

    .port-action {
        &.remove-port {
            color: @primary-color5;
        }

        &.add-port {
            color: @primary-color1;
        }
    }

    .port {
        &:hover::after {
            background-color: @primary-color1;
        }

        &.connected::after,
        &.connecting::after {
            background-color: @primary-color1;
        }
    }

    .node-select-collapsible {
        background-color: @primary-color7;

        .filter {
            background-color: @primary-color6;
        }
    }

    .node-info-collapsible {
        background-color: @primary-color7;
    }
}

.tabs-container {
    max-height: 40px;
    min-height: 40px;

    .tab-list {
        align-items: flex-end;
    }

    .tab {
        cursor: pointer;
        transition: height 150ms ease, background-color 200ms ease;
        height: 40px;
        min-width: 120px;
        max-width: 250px;
        display: flex;
        flex: 0 1 auto;
        justify-content: center;
        align-items: center;
        background-color: @primary-color1;

        .tab-content {
            display: flex;
            flex: 1 1 100%;
            height: inherit;
            align-items: center;
            justify-content: center;
            margin: 0 10px;

            .graph-icon {
                font-size: 1.5em;
                color: black;
            }

            .tab-title {
                margin-left: 5px;
                display: flex;
                flex: 1 1 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                color: white;
                white-space: nowrap;
            }

            .tab-close {
                margin-left: 5px;
                display: flex;
                flex: 1 1 0;
                opacity: 0;
                transition: opacity 150ms ease-in;
                cursor: pointer;
                font-size: 0.9em;
                color: black;
            }
        }

        &:hover {
            background-color: @active-tab-color;

            .tab-close {
                opacity: 1;
            }
        }

        &.tab-add {
            width: 120px;
            max-width: 120px;
            background-color: transparent !important;
            cursor: pointer;
            color: @primary-color1;
            user-select: none;

            &:hover {
                background-color: rgba(255, 255, 255, 0.05) !important;
            }
        }

        &.active {
            background-color: @active-tab-color;
            border-bottom: 3px solid @primary-color3;

            &:hover {
                background-color: @active-tab-color;
            }

            .graph-icon {
                font-size: 1.7em;
            }
        }
    }
}

.sandbox {
    flex: 1 1 auto;

    .select-container {
        z-index: 0;
        border-color: lightskyblue;
        background-color: rgba(135, 206, 250, 0.1);
        opacity: 0;
        transition: opacity 100ms ease-in;
        will-change: opacity;

        &.selecting {
            z-index: 999;
            opacity: 1;
        }
    }
}

.container {
    display: flex;
    overflow: hidden;
    transition: flex 250ms ease-in;
    &.closed {
        flex: 0;
    }
}

.sandbox-modal {
    width: 850px !important;
    @media screen and (max-width: 858px) {
        width: 100% !important;
    }
}

.log-view-modal {
    width: 60vw !important;
    @media screen and (max-width: 1200px) {
        width: 100% !important;
    }

    .ant-modal-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        max-height: 80vh;
    }

    .ant-modal-body {
        display: flex;
        flex: 1 1 auto;
        max-height: 100%;
        min-height: 0;
    }
}

.select-graph-modal {
    .ant-modal-footer {
        text-align: left !important;
    }
}

.mobile-restriction {
    align-items: center;
    justify-content: center;

    .ant-empty-image {
        height: 30vh;
    }
}
