@import '../../styles/vars.less';
@import './sandbox-variables.less';

.sandbox-view-container {
    height: 100%;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    max-height: 100%;

    .tab-controls {
        .ant-badge-count {
            right: 5px;
            top: 5px;
        }
    }

    .sandbox-header {
        padding: 5px 0;
        background-color: @background;

        .header-action {
            color: white;
            cursor: pointer;
            user-select: none;
            i {
                margin-right: 10px;
            }
        }
    }
}

.graph-content {
    background-color: @background;
    will-change: width;
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    min-height: 0;
}

.tabs-container {
    max-height: 40px;
    min-height: 40px;

    .tab-list {
        align-items: flex-end;
    }

    .active {
        .tab {
            background-color: @activeTabColor !important;
            border-bottom: 3px solid red;

            &:hover {
                background-color: darken(@activeTabColor, 5%) !important;
            }
        }
    }

    .tab {
        transition: height 150ms ease, background-color 200ms ease;
        height: 40px;
        min-width: 120px;
        width: 120px;
        display: flex;
        margin-right: 15px;
        justify-content: center;
        align-items: center;
        background-color: @tabColor;
        text-align: center;

        &:hover {
            background-color: darken(@tabColor, 8%) !important;
        }

        &.tab-add {
            background-color: transparent !important;
            cursor: pointer;
            color: @primary-color;

            &:hover {
                background-color: transparent !important;
            }
        }

        .tab-title {
            max-width: 90px;
            overflow: hidden;
            text-overflow: ellipsis;
            color: white;
        }
    }
}

.sandbox {
    flex: 1 1 auto;

    .select-container {
        z-index: 0;
        border-color: lightskyblue;
        background-color: rgba(135, 206, 250, 0.1);
        opacity: 0;
        transition: opacity 100ms ease-in;
        will-change: opacity;

        &.selecting {
            z-index: 999;
            opacity: 1;
        }
    }
}

.container {
    display: flex;
    overflow: hidden;
    transition: flex 250ms ease-in;
    &.closed {
        flex: 0;
    }
}

.sandbox-modal {
    width: 850px !important;
    @media screen and (max-width: 858px) {
        width: 100% !important;
    }
}
