@borderColor: #f1f1f1;
@borderSize: 2px;
@connectionColor: #51cae1;
@activeTabColor: #00d6da;
@tabColor: #cfcfcf;
@background: #333d49;
@lighter-background: lighten(@background, 7%);
@control-bg-color: lighten(#3d4c5c, 5%);
