@activeTabColor: #00d6da;
@tabColor: #cfcfcf;

.sandbox-view-container {
    height: 100%;
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;
    max-height: 100%;

    .tab-controls {
        .ant-badge-count {
            right: 5px;
            top: 5px;
        }
    }

    .log-section {
        background-color: black;
    }
}

.graph-content {
    display: flex;
    flex: 1 1 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;
    min-height: 0;
}

.tabs-container {
    .tab-list {
        margin: 0 30px;
        height: 42px;
    }

    .tab-controls {
        margin: 0 10px;

        > * {
            margin-right: 5px;
        }
    }

    .active {
        .tab {
            background-color: @activeTabColor !important;
        }
    }

    .tab {
        height: 42px;
        width: 120px;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: flex;
        margin-right: 15px;
        justify-content: center;
        align-items: center;
        background-color: @tabColor;
        text-align: center;

        .tab-title {
            max-width: 90px;
            margin: 0;
            color: white;
        }

        .tab-delete {
            button {
                border: none;
            }
        }
    }
}

.sandbox {
    flex: 1 1 auto;

    .select-container {
        z-index: 0;
        border-color: lightskyblue;
        background-color: rgba(135, 206, 250, 0.1);
        opacity: 0;
        transition: opacity 100ms ease-in;
        will-change: opacity;

        &.selecting {
            z-index: 999;
            opacity: 1;
        }
    }
}

.container {
    display: flex;
    overflow: hidden;
    transition: flex 250ms ease-in;
    &.closed {
        flex: 0;
    }
}
