.app-header {
    padding: 0 10px;
    background-color: transparent;

    .username {
        user-select: none;
        font-size: 12px;
        margin-right: 8px;
        // color: #5e5e5e;

        i {
            padding-left: 8px;
        }
    }
}

.ant-dropdown-menu-item {
    a > i {
        margin-right: 8px;
    }
}

.app-avatar {
    float: right;
}
