.flow-editor {
    display: flex;
    flex-direction: column;
    flex: 1;
}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
    .flow-editor {
        height: stretch;
    }
}