$nodeTitleFontSize: 18px;
$nodePortFontSize: 15px;
$nodeBorderRadius: 5px;
$nodeBackground: #1E5188;
$nodeSecondary: #42A0D4;
$nodeTextColor: rgb(245, 245, 245);
$nodeSocketColor: #71D6C0;
$nodeHeaderBorder: 1px solid black;

.link-click-handle {
    cursor: pointer;
}

.flow-editor {
    display: flex;
    flex-direction: column;
    flex: 1;

    user-select: none;
    -ms-user-select: none;

}

@media all and (-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm) { 
    .flow-editor {
        height: stretch;
    }
}