@nodeSelectBackgroundColor: #3d4c5c;
@selectHeight: calc(100vh - 144px);

.node-select-container {
    background-color: @nodeSelectBackgroundColor;
    height: @selectHeight;
    max-height: @selectHeight;
    overflow-y: auto;
    overflow-x: hidden;
}

.node-category {
    margin-left: 20px;
    text-transform: uppercase;
    font-weight: bold !important;
    margin-bottom: 20px !important;
    color: white !important;
}

.node-select-drop-container {
    padding: 20px 0;
    width: 100%;
}

.draggable-node {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;

    .port {
        background-color: @nodeSelectBackgroundColor !important;
    }

    .node-container {
        width: 160px;
    }
}

.filter {
    input {
        padding: 10px;
        background-color: #26303c;
        height: 50px;
        border: none;
        border-radius: 0;
    }
}
