@node-select-background-color: #3d4c5c;
@max-height: calc(100vh - 94px);

.node-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: stretch;
    height: 100%;
    max-height: @max-height;
    background-color: @node-select-background-color;
    padding: 15px;

    &.empty {
        align-content: center;
        justify-content: center;
    }

    .header {
        font-size: 1.4em;
    }

    .node-info-title {
        font-size: 1.5em;

        p {
            color: white;
            margin-bottom: 10px;
        }
    }

    .node-info-description {
        * {
            color: white;
        }
    }

    .node-info-properties {
        flex: 1;

        .node-info-form {
            display: flex;
            flex-direction: column;
            flex: 1;
            height: 100%;
        }
    }

    .ant-divider {
        margin: 20px 0;
        width: 90%;
        min-width: 90%;
    }

    .property-group {
        display: flex;
        flex-direction: column;

        p {
            font-size: 1.35em;
            color: white;
        }

        label {
            color: white;
        }
    }
}
