.node-container {
    min-width: 75px;
    width: 150px;
    min-height: 50px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    border-radius: 30px;
    cursor: grab;
}

.value-inputs {
    position: absolute;
    left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.value-output-ports {
    position: relative;
    right: -28px;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flow-input-ports {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.flow-output-ports {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.port {
    width: 15px;
    height: 15px;
    border: 1px solid darkmagenta;
    border-radius: 50%;
}
