.node-container {
    min-width: 10em;
    width: 15em;
    height: 3.8em;
    border: 2px solid black;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 2em;
    border-radius: 3em;
}
