.app-layout {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    flex: 1 1 100%;

    margin: 0;
    padding: 0;

    .app-layout-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        max-height: 100%;
        flex: 1 1 100%;
        overflow: auto;
        overflow-x: hidden;

        > * {
            display: flex;
            flex-direction: column;
            flex: 1 1 100%;

            @media screen and (max-width: 1024px) {
                margin: 0;
            }
        }
    }
}
