.app-layout {
    min-height: 100vh;
    height: 100%;
    margin: 0;
    padding: 0;

    .app-layout-content {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .ant-layout-sider-zero-width-trigger {
        z-index: 9999;
    }
}
