@import './styles/vars.less';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    scroll-behavior: smooth;
}

.ant-modal {
    width: 50vw !important;
    @media screen and (max-width: 1200px) {
        width: 100% !important;
    }
}

#root {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    height: 100%;
    flex: 1 1 100%;
    overflow: hidden;

    .app-layout {
        overflow: auto;
    }
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #0000009f;
}

* {
    scrollbar-color: #0000009f transparent;
    scrollbar-width: thin;
}

.ant-input-password {
    input:focus {
        background-image: none !important;
    }

    .ant-input-suffix {
        font-size: 1.4em;
    }
}
