.node-io {
    &.output {
        display: inherit;
        justify-content: flex-end;
        width: 100%;
        padding: 3px 0;

        .label {
            margin-right: 8px;
        }

        .socket {
            margin-top: 2px;
        }
    }
}