li.node-output {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    padding: 3px 0;

    .output {
        display: flex;
        .label {
            margin-right: 8px;
        }
    }

}