.register-form-container {
    display: flex;
    flex: 1 1 auto;

    align-items: center;
    justify-content: center;

    transition: width 175ms ease;

    .register-card-container {
        width: 650px;
        @media screen and (max-width: 768px) {
            width: 100%;
        }
    }

    .register-form-button {
        width: 100%;
    }

    .lock-icon {
        transition: opacity 200ms ease-in;
        opacity: 0.25;
        cursor: pointer;

        &:hover {
            opacity: 1;
        }
    }
}
