.register-form-container {

    min-height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .register-card-container {
        width: 700px;
    }

    .register-form-button {
        width: 100%;
    }

}